#userTable a.table-link {
    font-size: 1.2rem;
    text-decoration: none;
    word-break: break-word;
}

#userDetails span {
    font-weight: 900;
}

@media (min-width: 768px) {
    #userTable a.table-link {
        font-size: 1.4rem;
    }
}